<%= form_with url: path, model: subject do |form| %>
<div class="card-body">
  <div class="card-title">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
</div>
  <div class="mt-4 text-center card-footer">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>