<div class="col-md-12 offset-md-3">
    <div class="mt-md-5">
        <div class="card text-center" style="width: 20rem;">
            <div class='card-header'>
                <h5 class='text-center'>Edit Subject</h5>
            </div>
            <%= render 'form', subject: @subject, path: api_v1_subject_path(@subject) %>
    </div>
</div>
