<h1 class="text-center">Subjects</h1>
<div class="row">
  <div class="col-md-4 ms-auto">
    <%= link_to 'New Subject', new_api_v1_subject_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
<div class="row">
<div class="col-md-6 offset-md-3">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= link_to 'Edit', edit_api_v1_subject_path(subject), class: 'btn btn-outline-warning' %></td>
        <td><%= link_to 'Destroy', api_v1_subject_path(subject), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <%= pagy_nav(@pagy).html_safe %>
  </ul>
</nav>
