<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 offset-md-1'>
      <h2 class='text-center text-primary'>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <label class="form-label">Email</label>
          <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: 'off' %>
        </div>
        <div class="mt-3">
          <label class="form-label">Password</label>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <div class="mt-3">
          <label class="form-label">Confirm Password</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <div class="mt-2 text-center">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

