
<%= form_with url: path do |form| %>
<div class="card-body">
  <div class="card-title">
    <%= form.label :student %>
    <%= form.select(:student_id, options_for_select(@students.collect {|s| [s.name, s.id]}, :selected => @mark.student_id), {:include_blank => 'Select Student'}) %>
  </div>
  <div class="card-title">
    <%= form.label :subject %>
    <%= form.select(:subject_id, options_for_select(@subjects.collect {|s| [s.name, s.id]}, :selected => @mark.subject_id), {:include_blank => 'Select Subject'}) %>
  </div>
  <div class="card-title">
    <%= form.label :mark %>
    <%= form.text_field :score, class: 'form-control', value: @mark.score %>
  </div>
</div>
  <div class="mt-4 text-center card-footer">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>