<div class="col d-flex justify-content-center">
    <div class="mt-md-5">
        <div class="card text-center" style="width: 20rem;">
            <div class='card-header'>
                <h5 class='text-center'>Edit Mark</h5>
            </div>
            <%= form_with url: api_v1_mark_path, method: :put do |form| %>
                <div class="card-body">
                    <div class="card-title">
                        <%= form.label :mark %>
                        <%= form.text_field :score, class: 'form-control', value: @mark.score %>
                    </div>
                </div>
                <div class="mt-4 text-center card-footer">
                    <%= form.submit "Submit", class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
