<div class="col d-flex justify-content-center">
    <div class="mt-5">
        <div class="card text-center" style="width: 20rem;">
            <div class='card-header'>
                <h5 class='text-center'>Add Mark</h5>
            </div>
            <%= render 'form', mark: @mark, path: api_v1_marks_path %>
    </div>
</div>
