<div class="content mt-3">
  <div class="text-center">
    <div id="flash">
      <% flash.each do |key, value| %>
        <% if key == "notice" %>
          <div class="alert alert-success">
            <%= value %>
          </div>
        <% else %>
          <div class="alert alert-danger">
            <%= value %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>