<header>
  <div class="navbar navbar-dark bg-dark">
    <div class="text-center">
      <%= link_to 'Students', api_v1_students_path, class: "ms-3 navbar-brand" %>
      <%= link_to 'Subjects', api_v1_subjects_path, class: "ms-3 navbar-brand" %>
      <%= link_to 'Student Marks', api_v1_marks_path, class: "ms-3 navbar-brand" %>

    </div>

    <div class="text-right">
      <% unless user_signed_in? %>
        <u class="fas fa-sign-in-alt"><%= link_to " Login", '/users/sign_in', class: "navbar-brand" %></u>
        <u class="fas fa-user-plus"><%= link_to " SignUp", '/users/sign_up', class: "navbar-brand" %></u>
      <% else %>
        <u class="fas fa-sign-out-alt"><%= link_to " LogOut", destroy_user_session_path, method: :delete, class: "navbar-brand" %></u>
      <% end %>
    </div>
  </div>
</div>
</header>