<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 offset-md-1'>
      <h2 class='text-center text-success'>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="mt-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mt-3 text-center">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end %>

        <div class="mt-3 text-center">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>