<div class="col d-flex justify-content-center">
    <div class="mt-md-5">
        <div class="card text-center" style="width: 20rem;">
            <div class='card-header'>
                <h5 class='text-center'>Edit Student</h5>
            </div>
            <%= render 'form', student: @student, path: api_v1_student_path(@student) %>
    </div>
</div>
